.main_container{
    height: 85vh;
    border-radius: 20px;
    border: 1px solid rgb(224, 222, 222);
    /* background-color: aqua; */
    margin-right: 20px;
    /* width: 80vw; */
    padding: 15px ;
    /* overflow-y: auto; */
}

.main_box{
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 15px;
    margin-right: 15px;
}

.main_box:last-child{
    margin-right: 0;
}

.icons_main{
    display: flex;
    justify-content: space-between;  
}

.icons_main div:last-child{
    border: 1px solid rgb(34, 139, 8);
    border-radius: 50px;
    font-size: 13px;
    padding:6px 15px;
    color: rgb(34, 139, 8);
}

.icon_div{
    display: flex;
    justify-content: space-around;
    width: 115px;
}

.search .icons_tag{
    border: 1px solid rgb(224, 222, 222);
    border-radius: 50px;
    padding: 1px 7% 6px 9px;
    /* font-size: 50px; */
}

.search_field{
    position: relative;
    width: auto;
}

.search_field .icons{
    position: absolute;
    left: 20px;
    top: 8px;
}

.search_field input{
    border: none;
    border: 1px solid rgb(224, 222, 222);
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 20px;
    padding-left: 30px;
}


.search_field :placeholder-shown{
    padding-left: 30px;
}


.table_header{
    background-color: whitesmoke;
}

table thead tr th{
    font-size: 13px;
    color: rgb(168, 167, 167);
    font-weight: 500;
}

table .btn-outline-secondary {
    font-size: 12px !important;
    border-color: rgb(224, 222, 222) !important;
}

tbody tr th img{
    height: 35px;
    width: 35px;
    /* border: 1px solid; */
    border-radius: 50px;
}
tbody tr th span{
    margin-right: 5px;
}

tbody tr{
    font-size: 13px;
}

table .text-danger{
    color: rgb(255, 81, 0) !important;
}

tbody tr th small{
    font-size: 12px;
    font-weight: normal;
    color: rgb(97, 96, 96);
}

tbody tr td small{
    font-size: 12px;
    font-weight: normal;
    color: rgb(97, 96, 96);
}