.main_container{
    height: 110%;
    border-radius: 3vh;
    border: 1px solid rgb(224, 222, 222);
    margin-top: 1.5vh;
    padding: 3vh ;
}

.main_container h4{
    font-size: 3.8vh;
    font-weight: 550;
}

.main_box{
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 3vh;
    padding: 3vh;
    /* margin-right: 3vw; */
    margin: 2vh;
}

.main_box span{
    font-size: 2.5vh;
}

.main_box h2{
    margin-top: 2vh;
    font-size: 5vh;
}

.main_box svg{
    font-size: 4vh;
}

.icons_main{
    display: flex;
    justify-content: space-between;  
}

.icons_main div:last-child{
    border: 1px solid rgb(34, 139, 8);
    border-radius: 3vh;
    font-size: 1.8vh;
    padding: 1.2vh 1.2vw 1.3vh;
    color: rgb(34, 139, 8);
}

.icon_div{
    display: flex;
    justify-content: space-between;
    width: 7vw
}

@media screen and (max-width:1115px) {
    .search_field .icons{
        left: 2vw !important;
        /* top: 2rem; */
    }

    .icon_div{
        width: 9vw !important;
    }

    .icons_main .icon_div .icons_tag{
        padding: .2vh .7vw 0vh;
    }

    tbody tr th img{
        height: 2rem !important;
        width: 2rem !important;
    }
}

@media screen and (max-width: 768px){
    .icon_div{
        width: 15vw !important;   
    }

    .icons_main .icon_div .icons_tag{
        padding: .2vh 1.2vw 0vh;
    }
    .search_field .icons{
        left: 3vw !important;
        /* top: 2rem; */
    }
    .search_field :placeholder-shown{
        padding-left: 4vw !important;
    }
    .search_field{
        width: 95vw !important;
    }
    .search_field input{
        width: 93vw !important;
    }

    .icon_div{
        width: 13vw !important;
        justify-content: space-between;
    }
}

@media screen and (max-width: 500px){
    .icon_div{
        width: 15vw !important;   
    }

    .icons_main .icon_div .icons_tag{
        padding: .2vh 2vw 0vh;
    }
    .search_field .icons{
        left: 4.5vw !important;
    }
    .search_field :placeholder-shown{
        padding-left: 6.5vw !important;
    }

    .icon_div{
        width: 20vw !important;
        justify-content: space-between;
    }
}
.search .icons_tag{
    border: 1px solid rgb(224, 222, 222);
    border-radius: 3vh;
    padding: .4vh .7vw .6vh;
    font-size: 2.8vh;
}

.search_field{
    position: relative;
    width: 23vw;
}


.search_field .icons{
    position: absolute;
    left: 1.5vw;
    top: 1.5vh;
    font-size: 2.8vh;
}

.search_field input{
    border: none;
    border: 1px solid rgb(224, 222, 222);
    padding: 1.5vh 1vw;
    font-size: 1.8vh;
    border-radius: 3vh;
    width: 21vw;
}


.search_field :placeholder-shown{
    padding-left: 2.5vw
}

.table{
    margin-top: 3vh;
}

.table thead tr{
    border-top-left-radius: 10px;
}

.table_header{
    background-color: whitesmoke;
}

.table_header th{
    padding: 2vh 1.2vw; 
    font-size: 1.8vh;
    color: rgb(168, 167, 167);                              
    font-weight: 600;
}

.table>tbody{
    vertical-align: middle;
}



table tbody tr th{
    padding: 2vh 1vw !important;
}

table .btn-outline-secondary {
    font-size: 1.8vh !important;
    border-color: rgb(224, 222, 222) !important;
    padding: 1vh;
    border-radius: 1vh;
}

tbody tr th img{
    height: 5vh;
    width: 2.5vw;
    /* border: 1px solid; */
    border-radius: 50px;
    object-fit: cover;
}
tbody tr th span{
    margin-right: 5px;
}

tbody tr{
    font-size: 2vh;
}

tbody tr th td{
    padding: 2vh 2vw;
}

table .text-danger{
    color: rgb(255, 81, 0) !important;
}

tbody tr th small{
    font-size: 1.8vh;
    font-weight: normal;
    color: rgb(97, 96, 96);
}

tbody tr td small{
    font-size: 1.8vh;
    font-weight: normal;
    color: rgb(97, 96, 96);
}

tbody svg{
    font-size: 2.5vh;
}