.navbar{
    padding-bottom: 0;
}

.navbar .navbar-brand h1{
    color: black;
    font-size: 5.5vh;
}

._navbar li{
   margin-left: 1.2vw;
   border: 1px solid rgb(224, 222, 222);
   border-radius: 50%;
   padding: 1vh 1.5vh 1.2vh;
   
}
._navbar .nav-item svg{
    font-size: 3.2vh;
}

._navbar li:last-child{
    padding: 1vh 1.5vh 0vh;
    font-size: 2vh;
    font-weight: 500;
    margin-left: 2.5vw;
    border-radius: 5vh;
}

._navbar img{
    width: 1.3vw;
    height: 3vh;
    border-radius: 50%;
    margin-right: .3vw
}

@media screen and (max-width:1115px){
    ._navbar img{
        width: 1.2rem;
        height: 1.2rem;
    }
}


.notification{
    position: relative;
}

.badge{
    position: absolute;
    top: 1.2vh;
    right: 1.2vh;
    padding: 0vh .15vw;
    border-radius: 50%;
    background-color: red;
    color: red
}

.notification1{
    position: relative;
}

.notification1 .badge{
    position: absolute;
    top: 1.2vh;
    right: 1.1vh;
    padding: 0vh .15vw;
    border-radius: 50%;
    background-color: green;
    color: green
}