*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar_container{
    position: relative;
    height: 86vh;
    border-radius: 0px 20px 0 0;
    /* background-color: rgb(234, 236, 236); */
    background-color: whitesmoke;
    padding: 5px 25px 0 20px;
}

.sidebar_container > ol, ul {
    padding-left: 1.5rem;
}

.sidebar_container > ul li {
    list-style: none;
    padding: 8px;
    font-size: 13px;
    color: rgb(136, 135, 135);
    font-weight: 500;
}

.sidebar_container > ul li:last-child{
    position: absolute;
    bottom: 12%;
}

.sidebar_container > ul li .icons{
    margin-right: 15px;
    font-weight: 500;
}

ul .active{
    border: 1px solid;
    border-radius: 20px;
    background-color: whitesmoke;
    border-color: whitesmoke;
}

.profile img{
    width: 35px;
    height: 35px;
    /* border: 1px solid; */
    border-radius: 50%;
}

.profile{
    margin: 10% 0 8% 0;
    display: flex;

}
.profile div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 17px;
}

.profile div span{
    font-size: 15px;
    font-weight: 550;
}
.profile div small{
    font-size: 12px;
    font-weight: 400;
    color: gray;
}